//Font sizings
$primary-size: 12px;
$secondary-size: 18px;
$tertiary-size: 24px;
$large-size: 48px;

//Colors
$primary-color: #000000;
$secondary-color: #FFFFFF;
$tertiary-color: #FF2546;

body {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Brown;
    background-color: #E5E5E5;
}

// html {
// 	padding: 0;
// 	margin: 0;
// }

// * {
// 	outline: none;
// 	margin: 0;
// 	padding: 0;
// }


h1 {
    font-size: $large-size;
}

h2 {
    font-size: $tertiary-size;
}

h5 {
    font-size: $primary-size;
}

h6 {
    font-size: calc($primary-size - 1px);
}
p {
    font-size: $secondary-size;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

a {
    text-decoration: none;
    gap: 5px;
    display: flex;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

@mixin respond($breakpoint) {

	@if $breakpoint ==sm {

		@media only screen and (min-width: 40em) {
			@content;
		}
		//640px
	}
}